/* Basic containers*/
/* LEAVE THESE OR ADD TO THEM. TO SPECIFY FOR YOUR TYPE, USE MORE SPECIFIC SELECTORS*/
#learningPanel{
    width: 400px;
    height: 125px;
    position: absolute;
    font-size: 24px;
    z-index: 1000;
    background-color: #f1f1f1;
    opacity: 1;
    color: black;
    border: solid;
    border-width: thin;
}

.nativePanel, .foreignPanel{
    width: 40%;
    float: left;
}

/* alternating positions necessary for vertical alignment of divs*/
.foreignPanel {
    position: relative;
    margin-top: 13px;
}

.nativePanel {
    position: absolute;
    height: 38px;
    top: 50%;
    margin-top: 1px;
}


/* Flashcard items */

.flash-left{
    position: relative;
    width: 50%;
    height: 100%;
    float: left;
	cursor: default;
}

.flash-right{
    position: relative;
    width: 50%;
    height: 100%;
    float: right;
	cursor: default;
}


.subsection {
    position: relative;
    height: 50%;
}

#topPanel {
    font-size: 50%;
    color: gray;
}

#topPanel > div {
    font-size: 200%;
    color: black;
}

#topPanel > p {
	position: absolute;
	bottom: 15%;
	left: 13%;
}

#bottomPanel {
    font-size: 50%;
    color: gray;
}

#bottomPanel > div {
    font-size: 200%;
    color: black;
}

#bottomPanel > p {
	position: absolute;
	bottom: 15%;
	left: 13%;
}

.flash-langPanel {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 30%;
    margin: auto;
    margin-left: 25%;
    height: 30%;
    /*font-size: 50%;*/
}

.flash-reveal {
    font-style: italic;
    border: 1px solid gray;
    border-radius: 5px;
    /*background-color: gray;*/
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 30%;
    margin: auto;
    margin-left: 25%;
    height: 30%;
}

.check {
    height: 90%;
    float: left;`
}

#clickable {
	opacity: 1;
}

#clickable .check {
	cursor: pointer;
}

#not-clickable {
	opacity: 0.1;
	cursor: default;
}

/* Fill_in_the_blank items */

.answerStatus.fill_in_the_blank img{
    float: right;
    height: 90%;
}

.fitb_translation {
    font-size: 24px;
}

#fitb_translation_div {

}

.left.fill_in_the_blank {
    width: 47.5%;
    height: 100%;
    float: left;
}

.revealButton.fill_in_the_blank {
    display: none;
    font-style: italic;
    border: 1px solid gray;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 54%;
    left: 57%;
    width: 50px;
    height: 20px;
}

.fill_in_the_blank input{
    vertical-align: middle;
    margin-top: -5px;
}

.right.fill_in_the_blank{
    width: 47.5%;
    height: 100%;
    float: right;
}

.left_subsection {
    height: 50%;
    vertical-align: middle;
}
