/* Basic containers*/
/* LEAVE THESE OR ADD TO THEM. TO SPECIFY FOR YOUR TYPE, USE MORE SPECIFIC SELECTORS*/
#learningPanel{
    width: 400px;
    height: 125px;
    position: relative;
    font-size: 24px;
    z-index: 1000;
    background-color: #f1f1f1;
    opacity: 1;
    color: black;
    border: solid;
    border-width: thin;
}

.nativePanel, .foreignPanel{
    width: 40%;
    float: left;
}

/* alternating positions necessary for vertical alignment of divs*/
.foreignPanel {
    position: relative;
    margin-top: 13px;
}

.nativePanel {
    position: absolute;
    height: 38px;
    top: 50%;
    margin-top: 1px;
}


/* Flashcard items */

.flash-left{
    position: relative;
    width: 50%;
    height: 100%;
    float: left;
    cursor: default;
}

.flash-right{
    position: relative;
    width: 50%;
    height: 100%;
    float: right;
    cursor: default;
}


.subsection {
    position: relative;
    height: 50%;
}

#topPanel {
    font-size: 50%;
    color: gray;
}

#topPanel > div {
    font-size: 200%;
    color: black;
}

#topPanel > p {
    position: absolute;
    bottom: 15%;
    left: 13%;
}

#bottomPanel {
    font-size: 50%;
    color: gray;
}

#bottomPanel > div {
    font-size: 200%;
    color: black;
}

#bottomPanel > p {
    position: absolute;
    bottom: 15%;
    left: 13%;
}

.flash-langPanel {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 30%;
    margin: auto;
    margin-left: 25%;
    height: 30%;
    /*font-size: 50%;*/
}

.flash-reveal {
    font-style: italic;
    border: 1px solid gray;
    border-radius: 5px;
    /*background-color: gray;*/
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 30%;
    margin: auto;
    margin-left: 25%;
    height: 30%;
}

.check {
    height: 90%;
    float: left;
}

#clickable {
    opacity: 1;
}

#clickable .check {
    cursor: pointer;
}

#not-clickable {
    opacity: 0.1;
    cursor: default;
}

/* Fill_in_the_blank items */

.answerStatus.fill_in_the_blank img{
    float: right;
    height: 40px;
    width: 40px;
}

.fitb_translation {
    font-size: 24px;
    position: relative;
    top: 14px;

}

.fitb_try_again::-webkit-input-placeholder {
  color: #cb2222;
}


.left.fill_in_the_blank {
    width: 47.5%;
    height: 100%;
    float: left;
}

.revealButton.fill_in_the_blank {
    display: none;
    font-style: italic;
    border: 1px solid gray;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 54%;
    left: 57%;
    width: 50px;
    height: 20px;
}

.fill_in_the_blank input{
    vertical-align: middle;
    margin-top: -5px;
}

.right.fill_in_the_blank{
    width: 47.5%;
    height: 100%;
    float: right;
}

.left_subsection {
    height: 50%;
    vertical-align: middle;
}

.loading {
    position: absolute;
    font-size: 36px;
    width: 33px;
    height: 30px;
    top: 92px;
    left: 364px;
    color: black;
}

.remaining_attempts {
    position: absolute;
    font-size: 12px;
    left: 273px;
    top: 112px;
}


/*How_To items*/

#ordered-top {
    height: 50%;
    border-bottom: 1px solid black;

}

#ordered-bottom {
    height: 50%;
}

.dashed-subsection {
    height: 100px;
    width: 180px;
    float: left;
    margin: 14px;
    border: 2px dashed gray;
    margin-top: 7%;
}

.solid-subsection {
    height: 100px;
    width: 180px;
    float: left;
    margin: 15px;
    border: 1px solid gray;
}

.item_image {
    height: 100px;
    width: 180px;
    cursor: pointer;
}

.item_helpText {
    text-align: center;
    font-size: 8pt;
    display: block;
    width: 100%;
}

.reset_all_button.how_to {
    font-style: italic;
    border: 1px solid gray;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 94%;
    left: 1%;
    width: 77px;
    height: 21px;
}

.next_button.how_to{
    display: none;
    font-style: italic;
    border: 1px solid gray;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 94%;
    left: 90%;
    width: 77px;
    height: 21px;
}

.next_button:focus {
    outline: 0;
}

.reveal_button:focus{
    outline: 0;
}

.reset_all_button:focus{
    outline: 0;
}

.reveal_button.how_to{
/*    display: none;*/
    font-style: italic;
    border: 1px solid gray;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 94%;
    left: 90%;
    width: 77px;
    height: 21px;
}


.item_container {
    cursor: pointer;
    height: 100px;
    float: left;
}

.big_right.how_to {
    display: none;
    height: 23%;
    top: 362px;
    left: 393px;
    position: absolute;
}

.big_wrong.how_to {
    display: none;
    position: absolute;
    top: 345px;
    left: 352px;
    height: 30%;
}
