#learningPanel{
	width: 200px;
	height: 75px;
	position: absolute;
	font-size: 24px;
	z-index: 1000;
	background-color: #f1f1f1;
	opacity: 1;
	color: black;
}

.lSpan{
    width: 40%;
}

.rSpan{
    width: 40%;
    float: right;
}

.nativePanel, .foreignPanel{
	position: relative;
	width: 40%;
	float: left;
}

.foreignPanel {
    /*to center the words vertically on the learningPanel*/
    margin-top: 15px;
}

.nativePanel{
	color: gray;
	display: none;
}

.reveal{
	position: relative;
	font-style: italic;
	border: 1px solid gray;
	border-radius: 5px;
	width: 40%;
	text-align: center;

} 

.checkbutton{
    position: relative;
    float: right;
    width: 40%;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 10pt;
    text-align: center;
}