/* Basic containers*/
/* LEAVE THESE OR ADD TO THEM. TO SPECIFY FOR YOUR TYPE, USE MORE SPECIFIC SELECTORS*/
#learningPanel{
    width: 400px;
    height: 125px;
    position: absolute;
    font-size: 24px;
    z-index: 1000;
    background-color: #f1f1f1;
    opacity: 1;
    color: black;
}

.nativePanel, .foreignPanel{
    width: 40%;
    float: left;
}

/* alternating positions necessary for vertical alignment of divs*/
.foreignPanel {
    position: relative;
    margin-top: 13px;
}

.nativePanel {
    position: absolute;
    height: 38px;
    top: 50%;
    margin-top: 1px;
}

/* Flashcard items */

.left .flashcard {
	position: relative;
    width: 50%;
    height: 100%;
    left: 0;
}

.right .flashcard{
	position: relative;
    width: 50%;
    height: 100%;
    right: 0;
}

.flashcard .foreignPanel {
    position: absolute;
    left: 15px;
}

.flashcard .nativePanel {
    position: absolute;
    top: 40px;
    left: 15px;
}

.reveal{
    position: relative;
    font-style: italic;
    border: 1px solid gray;
    border-radius: 5px;
    /*margin-top: 50px;*/
    width: 30%;
    text-align: center;

}

.checkbutton{
    position: relative
	display: inline-block;
    float: right;
    width: 40%;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 10pt;
    text-align: center;
}

/* Fill_in_the_blank items */
#fitb_translation_field {
    display: block;
}

.left .fill_in_the_blank {
    /*width: 40%;*/
    float: left;
}

.right .fill_in_the_blank{
    /*width: 40%;*/
    float: right;
}

